// color $primary

$limeGreen: hsl(163, 72%, 41%);
$brightRed: hsl(356, 69%, 56%);
$facebook: hsl(208, 92%, 53%);
$twitter: hsl(203, 89%, 53%);
$instagram:linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
$youTube: hsl(348, 97%, 39%);

//  Dark Theme

$Toggle: hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
$veryDarkBlue: hsl(230, 17%, 14%);
$veryDarkBluey: hsl(232, 19%, 15%);
$darkDesaturatedBlue: hsl(228, 28%, 20%);
$desaturatedBlue: hsl(228, 34%, 66%);
$white: hsl(0, 0%, 100%);


// Light Themes
$Toggle: hsl(230, 70%, 36%);

$white: hsl(0, 0%, 100%);
$veryPaleBlue: hsl(225, 100%, 98%);
$lightGrayishBlue: hsl(227, 47%, 96%);
$darkGrayishBlue: hsl(228, 12%, 44%);
$veryDarkBlues: hsl(230, 17%, 14%);
$cardHover:  hsl(225, 16%, 90%);


$font-lg:14px;